.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  padding: 24px;
  font-size: 5rem;
  font-weight: bold;
  color: #c2c2c2;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%; /* Ensure grid takes full width */
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; /* Slightly increase the spacing for larger screens */
  }

  .projects-title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr); /* Fit 3 cards on wider screens */
    gap: 2rem; /* Increase spacing for better aesthetics */
  }
}
